body {
    background-image: url(../img/bordeaux.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    font-size: 24px;
}

#header a {
    color: brown;
}

#header ul li img {
    height: 40px;
    width: 40px;
    margin: 8px 0 5px 10px;
}

#header a:hover {
    color: bisque;
}

ul li {
    display: inline;
    list-style-type: none;
}

#search {
    margin: 5px 0 0 0;
    width: 100%;
}

#btnG {
    background-color: white;
    margin: 6px 0 0 0;
}

strong {
    font-size: 30px;
}

#header ul li img:hover {
    cursor: pointer;
}

#Theme {
    background-color: bisque;
    height: 35px;
    margin: 5px 0 0 0;
    color: brown;
    font-size: 20px;
}

.cadre {
    border: 1px solid brown;
    height: auto;
    width: 300px;
    background-image: url(../img/tonneau.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    margin: 100px 0 0 50px;
    box-shadow: 30px 30px 10px black;
    color: white;
    font-size: 18px;
    display: none;
}

#dwatch {
    position: absolute;
    left: 0px;
}

#dtwitter {
    position: absolute;
    height:300px;
    left: 350px;
}

#dvideo,
#dphoto
/*#dcinema*/
{
    position: absolute;
    top: 400px;
    height: 400px;
    width: 400px;
}

#dvideo{
    left:0;
}

#dphoto {
    left: 600px;
}

#dphoto>.element>p>img {
    width: 400px;
    height: 400px;
}

#dweather {
    position: absolute;
    left: 700px;
}

#dinfo {
    position: absolute;
    left: 1050px;
}

/*#dcinema {
    left: 1200px;
}*/

.Applisearch {
    width: 84%;
    border-color: brown;
}

#dvideo .Applisearch,
#dphoto .Applisearch,
#dcinema .Applisearch {
    width: 88%;
}

#content>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.bandeau {
    height: 30px;
    max-width: 100%;
    background-color: brown;
    color: white;
    font-weight: bold;
}

.bandeau img {
    height: 20px;
    width: 20px;
    float: left;
    margin-top: 3px;
}

.bandeau img[src="img/croix.png"] {
    margin-right: 80px;
}

button img {
    height: 25px;
    width: 25px;
}

.bandeau img[src="img/croix.png"]:hover {
    cursor: pointer;
}

.bandeau:hover{
    cursor: grab;
}

.element p {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.element a {
    color: white;
}

#dwatch p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#dinfo .element p img {
    height: 80px;
    width: 80px;
    float: left;
}

#dinfo .element p {
    font-size: 12px;
    clear: left;
}

#dweather .element p img {
    height: 70px;
    width: 70px;
}

#dweather div {
    font-size: 16px;
}

.help {
    border: 1px solid #1877D5;
    background: #84BEFD;
    opacity: 0.5;
}